@charset "utf-8";
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}


/* demo styles */

section{
  margin: 50px 50px 50px 100px;
}

